/venv
/ShadowAiDjango/ShadowAiRest/migrations
/ShadowAiDjango/media
__pycache__/
*.pyc
*.h5
/ShadowAiDjango/*.png
/ShadowAiDjango/*.jpg
/ShadowAiDjango/*.bmp

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
